<%= provide(:title, "About")%>
<h1>About</h1>
<p>We are a group of helpers you may say who wish to help others using our knowledge and sources of information without charging a hefty some of money with a promise of a bright future.</p>