<% provide(:title, "Help")%>
<h1>Help</h1>
<p>This is the help page of the web portal meant for Free MBA Prep for all of aspiring MBA graduates.</p>
<p>Find the help guide <a href="#">here</a>.</p>
<p>Write us at <a href="mailto:info@freembaprep.com">info#freembaprep.com</a></p>